<mat-toolbar color="primary">
  <h1>Subject vs NgRX</h1>
</mat-toolbar>
<div class="d-flex">
  <section class="application p-3">
    <h2 class="d-flex align-items-center">
      <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" />
      Subject
    </h2>
    <app-subject></app-subject>
  </section>
  <section class="application p-3">
    <h2 class="d-flex align-items-center">
      <img class="icon" src="https://ngrx.io/assets/images/badge.svg" />
      NgRX
    </h2>
    <div class="d-flex flex-col">
    </div>
  </section>
</div>
