/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Grid
.d-flex {
  display: flex;
}

.flex-fill {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

// Padding
.p-3 {
  padding: .5rem;
}
